<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" startupTimeLimit="20" processPath="C:\Program Files\nodejs\node.exe" arguments=".\src\bin\www">
            <environmentVariables>
                <environmentVariable name="NODE_ENV" value="production" />
                <environmentVariable name="PORT" value="8080" />
                <environmentVariable name="RHINO_COMPUTE_URL" value="http://localhost:6500/" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>
